*{
    margin: 0;
    padding: 0;
}
div{
    float: left;
    width: 150px;
    height: 150px;
}
#snake1{
    background-color: aquamarine;
}
#snake2{
    background-color:yellow;
}
#snake3{
    background-color:darkcyan;
}
#snake4{
    background-color:darkkhaki;
}
#snake5{
    background-color:burlywood;
}