.catdog{
    width: 200px;
    height: 200px;
    background-color: white;
    text-align: center center;
}
.cat{
    width: 150px;
    height: 150px;
    border: 2px solid white;
}
.dog{
    text-decoration: none;
    color: white;
}
.catdog:hover > .cat{
    border: 2px solid red;
}
.catdog:hover > .dog{
    text-decoration: underline red;
}