nav{
    width: fit-content;
    height: fit-content;
    border: 2px solid blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    padding: 3px;
}
.swd {
    padding: 1em;
    width: 100px;
    height: 100px;
}
.spr{
    padding: 1em;
    text-decoration: none;
    color: red;
}
.glv{
    padding: 1em;
    text-decoration: none;
    color: green;
}
.lnc{
    padding: 1em;
    text-decoration: none;
    color: orange;
}
.mac{
    padding: 1em;
    text-decoration: none;
    color: blue;
}
.spr:hover{
    text-decoration: overline red;
}
.glv:hover{
    text-decoration: overline green;
}
.lnc:hover{
    text-decoration: overline orange;
}
.mac:hover{
    text-decoration: overline blue;
}